# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp
*.bak

# Distribution archives
*.zip
*.tar.gz

# Python GUI libs (only if you switch to pip install later)
# PySimpleGUI.py

# VS Code Workspace backups
*.code-workspace
